* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Microsoft YaHei';
    color: #999;
    overflow: hidden;
}

canvas, #screen{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#screen {
    z-index: 2;
}

#photo-gallary {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: rotateX(-13deg) rotateY(-10deg) rotateZ(-8deg);
    transform-style: preserve-3d;
}

.photo-gallary-transform {
    position: absolute;
    top: 0;
    left: 33%;
    height: 90vw;
    display: flex;
}

.photo-gallary-outer {
    flex:1;
    height: 100%;
    width: 50%;
    display: flex;
    padding: 1px;
    flex-direction: column;
}

.photo-gallary-inner {
    width: 100%;
    flex: 1;
    padding: 1px;
    background-clip: content-box;
    background-size:cover;
    background-position:center;
    filter: url('./filter.svg#oil-painting');
}

canvas{
    z-index: -2;
}

.screen-image {
    position: absolute;
    width: 9vw;
    height: 9vw;
    border: 2px solid #fff;
    background-size: cover;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 0 28px;
    text-align: center;
    line-height: 80px;
    font-size: 42px;
    background-color: #1890ff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #40a9ff;
}

/* 首页 */
#mode0 .swiper-slide{
    width: 10vw;
    height: 10vw;
    background-size:cover;
}


.group-button {
    width: 300px;
    text-align: center;
    margin: 150px auto 0;
}

.photo-image {
    width: 10vw;
    height: 10vw;
    background-size: cover;
    background-position: center;
}

.photo {
    padding: 100px 100px;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    position: relative;
    color: #fff;
}

.photo-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.photo-box:first-child:before {
    content: ' ';
    width: 90px;
    top: 55px;
    left: 90px;
    height: 90px;
    position: absolute;
    background: url("./image/crown.png");
    background-size: cover;
}
#result {
    padding: 0 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result h2 {
    font-size: 28px;
    color: #eee;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #15caff;
}

#result div {
    font-size: 20px;
    color: #fff;
}

.result-inner >div:first-child h2{
    margin-top: 0;
}

/*.zoom {
    transform: scale(1.5);
}

.element {
    transition: transform 2s 2s;
}*/
